<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>ACP Controle Times</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>

  <!-- <script type="text/javascript"  -->
  <!--    src="/static/js/calc.js"> -->
  <!-- </script> -->
</head>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/calc.css" />

<body>
<!-- bootstrap requires a 'container' div around content -->
<div class="container">

<h1>ACP Brevet Opening and Closing times</h1>

<!-- Get the distance -->
<p></p>Select a distance:  
	<select  name="distance" size="1" id="selected_distance">
		<option value=200>200</option>
		<option value=300>300</option>
		<option value=400>400</option>
		<option value=600>600</option>
		<option value=1000>1000</option>
	</select>
</p>
<!-- Get the start date and the start time for later use -->
<p>Select a date(MM/DD/YYYY): <input type="text" id="start_date"/></p>
<p>Select a starting time(HH:MM): <input type="text" id="start_time"/></p>

<!-- prints an error message -->
<p id = "error" class = "error"></p>
<HR SIZE="6" NOSHADE>

<form role="form">

<div class="row">
	<div class="col-md-1">
        <p><b>Checkpoint</b></p>
    </div>
    <div class="col-md-2">
        <p><b>Distance</b></p>
    </div>
    <div class="col-md-2">
        <p><b>Location</b></p>
    </div>
    <div class="col-md-2">
        <p><b>Open Date/Open Time</b></p>
    </div>
     <div class="col-md-2">
        <p><b>Close Date/Close Time</b></p>
    </div>
</div>

<div class="row">
	<div class="col-md-1">
		<p>1</p>
    </div>
    <div class="col-md-1">
		<p>0 START!</p>
    </div>
    <div class="col-md-3">
         <input type="text" class="form-control"
         name="location" value="location (optional)" />
    </div>
    <div id="first_start" class="col-md-2">
		<span class="times form-control">(Open Date/Time)</span>
    </div>
	<div id="first_close" class="col-md-2">
		<span class="times form-control">(Close Date/Time)</span>
	</div>
 </div>

{% for x in range(2, 11) %}
<div class="row">
	<div class="col-md-1">
		<p>{{x}}</p>
    </div>
    <div class="col-md-1">
		<input type="text" class="form-control"
		name="distance" />
    </div>
    <div class="col-md-3">
         <input type="text" class="form-control"
         name="location" value="location (optional)" />
    </div>
    <div id="open_time" class="col-md-2">
		<span class="times form-control">(Open Date/Time)</span>
    </div>
	<div id="close_time" class="col-md-2">
		<span class="times form-control">(Close Date/Time)</span>
	</div>
 </div>
 {% endfor %}
</form>

<script type="text/javascript">

  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

  $(document).ready(function(){
   // Do the following when the page is finished loading
	  var total_distance = 0;
	  var start_time = "";
	  var date = "";
	  
      // When a field named 'distance' is changed ...
      $('input[name="distance"]').change(
          // ... execute this function
          function(){
              var dist = $(this).val();
			  total_distance = document.getElementById("selected_distance").value;
			  start_time = document.getElementById("start_time").value;
			  start_date = document.getElementById("start_date").value;
              var open_time = $(this).parents(".row").find("#open_time");
              var close_time = $(this).parents(".row").find("#close_time");

			  if(dist < total_distance)
				$('#error').text("Need more distances")
			  else if(start_time == "" || start_date == ""){
				$('#error').text("Need a start date and time refresh page")
			  }
              else
                $('#error').text("")

              // AJAX request
              $.getJSON($SCRIPT_ROOT + '/_calc_times',
                  // The object to pass to the server
                  { distance: dist, total_dist: total_distance, 
					  start: start_time,  date: start_date},
                  // The function to call with the response
                  function(data) {

                     var close = data.result.closeing;
                     var start = data.result.start;
                     var first_c = data.result.first_c;
                     var first_o = data.result.first_o;
                     $('#first_close').text(first_c);
                     $('#first_start').text(first_o);

                     open_time.text(start);
                     close_time.text(close);
                  }); // End of the call to getJSON
          });  // End of the function to be called when field changes
              

     });   // end of what we do on document ready

</script>

</div>
</body> </html>
